.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;

    border-radius: 8px;
    border: 2 px bold blue;
    
    width: min-content;
    height: min-content;
    padding: 20px;

    background-color: aqua;

    box-shadow: 5px 5px blue;
}


.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(60px, min-content) minmax(60px, 60px) minmax(60px, 60px) minmax(60px, 60px) minmax(60px, 60px) minmax(60px, 60px);
    gap: 5px;

    width: 400px;
    height: min-content;

    background-color: aqua;

    text-align: center;
}

.display{
    display: flex;
    align-items: center;
    padding: 5px;
    overflow-wrap: anywhere;
    

    background-color: white;
    
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;

    border: 2px solid grey;
    border-radius: 6px;
    box-shadow: 3px 3px;

    grid-column: 1 / span 4;
}
button{
    border-radius: 4px;
    box-shadow: 2px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: xx-large;
    }
    
.one, .two, .three {
    grid-row: 2;;
}

.four, .five, .six{
    grid-row: 3;
}

.seven, .eight, .nine{
    grid-row: 4;
}

.zero{
    grid-column: 1/ span 2;
    grid-row: 5;
}

.clear{
    background-color: bisque;
    grid-column: span 2;
    grid-row: 6;
}

.back{
    background-color: bisque;
    grid-row: 6;
}

.decimal{
    grid-row: 5;
}

.plus, .minus, .times, .divide, .equals{
    background-color: bisque;
    grid-column: 4;
}
