#container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: 2 px bold blue;
    
    width: 500px;
    height: 650px;
    
    background-color: aqua;
}


#calculator{
    display: grid;
    grid-template-areas:
    'display display display display'
    'number number number plus'
    'number number number minus'
    'number number number times'
    'zero zero decimal divide'
    'c c c equals';
    gap: 5px;

    width: 450px;
    height: 450px;

    background-color: aqua;

    text-align: center;
}
button{
border-radius: 4px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
}

#display{
    grid-area: display;
    display: flex;
    align-items: center;
    padding: 5px;

    background-color: white;
    
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;

    border: 2px solid grey;
    border-radius: 6px;
}
#1, #2, #3, #4, #5, #6, #7, #8, #9{
    grid-area: number;
}

#zero{
    grid-area: zero;
}

#c{
    grid-area: c;
    background-color: bisque;
}

#\.{
    grid-area: decimal;
}
#\+{
    grid-area: plus;
    background-color: bisque;
}
#\-{
    grid-area: minus;
    background-color: bisque;
}
#\/{
    grid-area: divide;
    background-color: bisque;
}
#\={
    grid-area: equals;
    background-color: bisque;
}
#\*{
    grid-area: times;
    background-color: bisque;
}